<header>
	<!-- Fixed navbar -->
	<nav class="navbar navbar-dark fixed-top bg-dark">
		{% if page.id == 'recipe' %}
			<button class="navbar-toggler" type="button" data-toggle="modal" data-target="#expRecipe">
				<span class="navbar-toggler-icon"></span>
			</button>
		{% endif %}
		<a class="navbar-brand {% if page.id == 'recipe' %}mille{% endif %}" href="/">MilleFuille</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<span class="nav-link">{{ page.title }}</span>
			</li>

			{% unless page.title == 'Home' %}
				{% for item in site.data.navigation %}
					<li class="nav-item">
						<a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
					</li>
				{% endfor %}
			{% endunless %}

		</ul>
	</nav>
</header>
