.modal {
    z-index: 10000;
}
.navbar-toggler-icon{
	width: 30px;
	height: 30px;
}

.mille{
	padding-left:15px;
}

.bg-gray {
  background-color: rgba(80,80,80,0.3);
}
body .table th,body .table-stripped  td {
  border:1px solid black;
}

.ofscrollx{
	overflow-x:scroll;
}

.container{
	width:1280px;
}

.tooltip
{
	position:absolute;
	background-color:#eeeefe;
	border: 1px solid #aaaaca;
	font-size: smaller;
	padding:4px;
	width: 160px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);	
}

.mdl-icon
{
	width:75px;
}

#recipes_filter{
	width: 100%;
}

#recipes td, #recipes th {
  white-space: nowrap;
}
